@import "button";

$favorite-color: #D1D7DC;

body {
  background-color: $favorite-color;
  font-family: Helvetica;
  font-size: 40px;
}
.flex-container {
  display: flex;
}
#flex-item-left{
  width: 60%;
  height: 100vh;
}
#flex-item-right{
  width: 40%;
  height: 100vh;
}
#search{
  width: 100%;
  height: 100px;
}
#selectedGif{
  width: 100%;
  height: 100%;
}
